# Node modules
node_modules

# Build files
dist
build

# Environment files
.env
.env.*

# Git files
.git
.gitignore

# Log files
logs
*.log
npm-debug.log*

# Editor directories
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Replit specific files
.replit
.breakpoints
.replit.nix
.config